{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  </head>
    {% if title %}
        <title>When-Where-What - {{ title }}</title>
    {% else %}
        <title>When-Where-What </title>
    {% endif %}
</head>

<script>
    function openlogin() {
        document.getElementById('form').style.display='block';
        document.getElementById('form1').style.display='none';
        document.getElementById('main').style.filter='blur(10px)';
        document.getElementById('main').style.pointerEvents='none';
        document.getElementById('fname').value="";
        document.getElementById('lname').value="";
        document.getElementById('email').value="";
        document.getElementById('usn').value="";
        document.getElementById('pwd').value=""; 
    }
    function closeform() {
        document.getElementById('form').style.display='none';
        document.getElementById('main').style.filter='blur(0px)';
        document.getElementById('main').style.pointerEvents='auto';
        document.getElementById('UN').value="";
        document.getElementById('PW').value="";
    }
    function opensignup() {
        document.getElementById('form1').style.display='block';
        document.getElementById('form').style.display='none';
        document.getElementById('main').style.filter='blur(10px)';
        document.getElementById('main').style.pointerEvents='none';
        document.getElementById('UN').value="";
        document.getElementById('PW').value="";
    }
    // function openprofile(){
    //   document.getElementById('form3').style.display='block';
    //   document.getElementById('form').style.display='none';
    //   document.getElementById('main').style.filter='blur(10px)';
    //   document.getElementById('main').style.pointerEvents='none';
    //   document.getElementById('UN').value="";
    //   document.getElementById('PW').value="";

    // }
    function closesignup() {
        document.getElementById('form1').style.display='none';
        document.getElementById('main').style.filter='blur(0px)';
        document.getElementById('main').style.pointerEvents='auto';
        document.getElementById('fname').value="";
        document.getElementById('lname').value="";
        document.getElementById('email').value="";
        document.getElementById('usn').value="";
        document.getElementById('pwd').value="";    
    }
</script>

<body>
        <div id="main" >
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin: 0;">
            <div class="container-fluid" style="padding: 0;">
              {% if user.is_authenticated %}
              <a class="navbar-brand fw-bolder" href="{% url 'logged_in'%}?category=general" >&emsp;&emsp;&emsp;<i class="fa fa-newspaper-o" style="font-size:24px;"></i>  WhenWhereWhat</a>
              {% else %}
              <a class="navbar-brand fw-bolder" href="{% url 'index'%}?category=general" >&emsp;&emsp;&emsp;<i class="fa fa-newspaper-o" style="font-size:24px;"></i>  WhenWhereWhat</a>
              {% endif %}
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation" style="color: black;">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav ms-auto">
                  {% if user.is_authenticated %}
                  <a class="nav-link active" href="{% url 'logged_in'%}?category=business" >Business</a>
                  <a class="nav-link active" href="{% url 'logged_in'%}?category=sports">Sports</a>
                  <a class="nav-link active" href="{% url 'logged_in'%}?category=technology" >Technology</a>
                  <a class="nav-link active" href="{% url 'logged_in'%}?category=health" >Health</a>
                  <a class="nav-link active" href="{% url 'logged_in'%}?category=science" >Science</a>
                  {% else %}
                  <a class="nav-link active" href="{% url 'index'%}?category=business" >Business</a>
                  <a class="nav-link active" href="{% url 'index'%}?category=sports">Sports</a>
                  <a class="nav-link active" href="{% url 'index'%}?category=technology" >Technology</a>
                  <a class="nav-link active" href="{% url 'index'%}?category=health" >Health</a>
                  <a class="nav-link active" href="{% url 'index'%}?category=science" >Science</a>
                  {% endif %}
                  {% if user.is_authenticated %}
                  <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="color:white;outline: none;">Profile
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" style="background-color: black;">
                      <li><a href="#"><button id="btn3" onclick="openprofile()">Profile</button></a></li>
                      <li><a href="{% url 'logout' %}"><button id="btn2" >Logout</button></a></li>
                    </ul>
                  </div>
                  {% else %}
                  <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="color:white;outline: none;">Profile
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" style="background-color: black;">
                      <li><a href="#"><button id="btn1" onclick="opensignup()">Signup</button></a></li>
                      <li><a href="#"><button id="btn2" onclick="openlogin()">Login</button></a></li>
                    </ul>
                  </div>
                  {% endif %} 
                  <form class="d-flex" action="{% url 'search'%}?search-btn=search-btn">
                    <input class="form-control me-2" name = "search-btn" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </form>                
                </div>
              </div>
            </div>
          </nav>    
          <div>
            {%if messages %}
            {% for message in messages %}
              <div class = "alert alert-{{message.tags}}">
                {{message}}
              </div>
            {% endfor%}
          {% endif %}
            {% block content %}
            {% endblock %}
          </div>
        </div>

        <div class="div1 container-fluid" id="form">
            <form method="POST" action="/login/"> {% csrf_token %}
                <label style="color:black;display: block; text-align: center; font-family: Ubuntu; font-weight: bolder; font-size: 2.25rem; margin-top:2%;">Welcome back!! </label>

                <div class="display" style="text-align: center;"><b>Login and Enjoy your Personalized Newspaper Experience</b></div>
                
                <div style="font-size: 1.25rem; text-align: center;margin-top: 10%;" >
                    <i class="fa fa-user icon w3-xlarge"></i>&emsp14;
                    <input type="text" placeholder="Username" name="UN" id="UN" required>
                </div>    
                
                <div style="font-size: 1.25rem; text-align: center;margin-top: 5%;">
                    <i class="fa fa-key icon"></i>
                    <input type="password" placeholder="Password" name="PW" id="PW" required>
                </div>
                <div style="text-align:center; margin-top: 10%;">
                <button name="button2" id="button2">Login</button>
                <button name="button3" id="button3" onclick="closeform()">Close</button>
                </div>
            </form> 
        </div>
        <div id="form1">
            <form name="myForms" method="POST" onsubmit="return validate()"> {% csrf_token %}
                <label style="color: black;display: block; text-align: center; margin-top: 1%; font-family: Ubuntu; font-weight: bold; font-size: 200%;">Welcome!! </label>
                
                <p style="font-family:Ubuntu; font-size: 1rem; text-align: center;">Make a personal account to get personalized news</p>
                
                <input type="text" placeholder="Name" name="fname" id="fname" class="input1" required>
                
                
                <input type="email" name="mail"placeholder="E-mail" id="mail" class="input1" required>
                
                
                <input type="text" name="usn" placeholder="Username" id="usn" class="input1" required>
                
                
                <input type="password" name="pwd" placeholder="Password" id="pwd" class="input1" required>
                <br>
                <div class="display-8" style="margin-left: 13%;">Select your preferences:</div>
                <div style="text-align: center;"">
                  <label class="checkbox-inline text-sm-center" name = 'preference'>
                    <input type="checkbox" value="business" name="preference" id="cat1">Business
                  </label>
                  <label class="checkbox-inline text-sm-center">
                    <input type="checkbox" value="sports" name="preference" id="cat2">Sports
                  </label>
                  <label class="checkbox-inline text-sm-center">
                    <input type="checkbox" value="technology" name="preference" id="cat3">Technology
                  </label>
                  <label class="checkbox-inline text-sm-center">
                    <input type="checkbox" value="science" name="preference" id="cat4">Science
                  </label>
                  <label class="checkbox-inline text-sm-center">
                    <input type="checkbox" value="health" name="preference" id="cat5">Health
                  </label>
                  
                </div>
                <label class="display-8" style="margin-left: 13%;" for="country">Select your country:</label>
                <!-- <div style="text-align: center;" class = 'mx-4'> -->

                  <!-- <label class="display-8" style="margin-left: 13%;" for="preference">Choose your preference:</label> -->

                  <select name="country">
                  <option value="in" default>India</option>
                  <option value="us">USA</option>
                  <option value="fr">France</option>
                  <option value="gb">Great Britain</option>
                  <option value="au">Australia</option>
                  <option value="jp">Japan</option>

                </select>
                <!-- </div> -->
                <button  name="button4"  id="button4" >SignUp</button>

                <button  name="button5"  id="button5" onclick="closesignup()">Close</button>
                
            </form>
        </div>    

        <div id="form3">
          <form name="myForms" method="POST" onsubmit="return validate()"> {% csrf_token %}
              <label style="color: black;display: block; text-align: center; margin-top: 1%; font-family: Ubuntu; font-weight: bold; font-size: 200%;">Welcome!! </label>
              
              <p style="font-family:Ubuntu; font-size: 1rem; text-align: center;">Make a personal account to get personalized news</p>
              
              <input type="text" placeholder="Name" name="fname" id="fname" class="input1" required>
              
              
              <input type="email" name="mail"placeholder="E-mail" id="mail" class="input1" required>
              
              
              <input type="text" name="usn" placeholder="Username" id="usn" class="input1" required>
              
              
              <input type="password" name="pwd" placeholder="Password" id="pwd" class="input1" required>
              <br>
              <div class="display-8" style="margin-left: 13%;">Select your preferences:</div>
              <div style="text-align: center;"">
                <label class="checkbox-inline text-sm-center" name = 'preference'>
                  <input type="checkbox" value="business" name="preference" id="cat1">Business
                </label>
                <label class="checkbox-inline text-sm-center">
                  <input type="checkbox" value="sports" name="preference" id="cat2">Sports
                </label>
                <label class="checkbox-inline text-sm-center">
                  <input type="checkbox" value="technology" name="preference" id="cat3">Technology
                </label>
                <label class="checkbox-inline text-sm-center">
                  <input type="checkbox" value="science" name="preference" id="cat4">Science
                </label>
                <label class="checkbox-inline text-sm-center">
                  <input type="checkbox" value="health" name="preference" id="cat5">Health
                </label>
                
              </div>
              <label class="display-8" style="margin-left: 13%;" for="country">Select your country:</label>
              <!-- <div style="text-align: center;" class = 'mx-4'> -->

                <!-- <label class="display-8" style="margin-left: 13%;" for="preference">Choose your preference:</label> -->

                <select name="country">
                <option value="in" default>India</option>
                <option value="us">USA</option>
                <option value="fr">France</option>
                <option value="gb">Great Britain</option>
                <option value="au">Australia</option>
                <option value="jp">Japan</option>

              </select>
              <!-- </div> -->

              <button  name="button5"  id="button5" onclick="closeprofile()">Close</button>
              
          </form>
      </div>    
 <footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </footer>
</body>

</html>